<?xml version="1.0" encoding="utf-8"?>

<!--
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <!-- <display-name>example-servlet</display-name> -->
    <description>Caucho Technology's PHP Implementation</description>

    <servlet>
        <servlet-name>Quercus Servlet</servlet-name>
        <servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>

        <!--
          Specifies the encoding Quercus should use to read in PHP scripts.
        -->
        <!--
        <init-param>
          <param-name>script-encoding</param-name>
          <param-value>UTF-8</param-value>
        </init-param>
        -->

        <!--
          Tells Quercus to use the following JDBC database and to ignore the
          arguments of mysql_connect().
        -->
        <init-param>
            <param-name>database</param-name>
            <param-value>java:/comp/env/jdbc/ounitDS</param-value>
        </init-param>
        <init-param>
            <param-name>mysql-version</param-name>
            <param-value>5.0.0emulated</param-value>
        </init-param>

        <!--
        <init-param>
          <param-name>ini-file</param-name>
          <param-value>WEB-INF/php.ini</param-value>
        </init-param>
        -->
    </servlet>

    <servlet-mapping>
        <servlet-name>Quercus Servlet</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.php</welcome-file>
    </welcome-file-list>
</web-app>
